

div{
    text-align: center;
    background-color: purple;
    color: white;
}

body {
    background: url(/assets/images/verguenza-hablar-tlf-ilustracion-ki6E--1248x698@abc.jpg);
}

@keyframes example {
    from {
    background-position-x: right; }
    to {
    background-position-x: left; } }
body {
    animation-name: example;
    animation-delay: 0s;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-direction: alternate; } 