.h1 {
    border: 3px solid;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
}

div{
    text-align: center;
}

body {
    background: url(/assets/images/bmw-collage.jpg);
}

@keyframes example {
    from {
    background-position-x: right; }
    to {
    background-position-x: left; } }
body {
    animation-name: example;
    animation-delay: 0s;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-direction: alternate; } 